[defaults]
# Tells Ansible where to find your inventory file
inventory = ./inventory.aws_ec2.yml

# Since EC2 instances change, we don't want Ansible blocking our pipeline 
# waiting for a manual "yes" to accept the SSH fingerprint.
host_key_checking = False

# Use the standard Ubuntu user to log into the servers
remote_user = ubuntu

[privilege_escalation]
# Automatically run tasks as 'sudo' (admin) because we are installing software
become = True
become_method = sudo
become_user = root